.main-page {
  &__wrapper {
    margin-bottom: -245px;
    padding-bottom: 245px;
    background-image: url("../assets/lines-bg.png");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (max-width: $media-dt) {
      background-position: 0 -43px;
    }

    @media (max-width: $media-tb) {
      background-image: none;
    }
  }
}
