@mixin font-face($font-name, $file-name, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font-name;
    src: local($font-name),
         url($file-name + ".woff2") format("woff2"),
         url($file-name + ".woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin reset-margin {
  margin: 0 auto;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin set-width($width-value, $wrapper-value) {
  width: $width-value * 100% / $wrapper-value;
}

@mixin set-button-theme($color: $c-black, $bg: transparent, $color-hover: $c-black, $bg-hover: transparent, $color-active: $c-black, $bg-active: transparent, $radius: 0) {
  color: $color;
  background-color: $bg;
  border-radius: $radius;

  // hover
  &:hover,
  &:focus {
    color: $color-hover;
    background-color: $bg-hover;
  }

  // active
  &:active {
    color: $color-active;
    background-color: $bg-active;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  opacity: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
