// font
$futurabookc: "FuturaBook C", "Arial", sans-serif;
$futurademic: "FuturaDemi C", "Arial", sans-serif;
$futuramediumc: "FuturaMedium C", "Arial", sans-serif;
$yesevaone: "Yeseva One", "Times New Roman", serif;
$proximanova: "Proxima Nova", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;
$c-cod-gray-1: #131313;
$c-cod-gray-2: #181818;
$c-mine-shaft: #363636;
$c-silver: #c3c3c3;
$c-dusty-gray: #959595;
$c-harvest-gold: #e3b873;

// width
$w-layout-dt: 1438px;
$w-layout-mb: 375px;
$w-wrapper-dt-1: 1270px;
$w-wrapper-dt-2: 1234px;
$w-wrapper-mb: 340px;
$w-video-dt: 817px;
$w-repair-item-dt: 392px;
$w-repair-item-mb: 340px;
$w-repair-type-wrapper-dt: 330px;
$w-repair-type-wrapper-mb: 270px;
$w-projects-nav-wrapper-dt: 845px;
$w-projects-item-wrapper-dt: 1337px;
$w-projects-title-wrapper-dt: 525px;
$w-projects-description-wrapper-dt: 430px;
$w-projects-sublist-wrapper-dt: 845px;
$w-process-wrapper-dt: 728px;
$w-fantasies-tab-wrapper-dt: 410px;
$w-fantasies-images-wrapper-dt: 751px;
$w-fantasies-image-wrapper-dt: 354px;
$w-nav-menu-list-dt: 584px;
$w-nav-menu-wrapper-dt: 996px;
$w-steps-nav-list-wrapper-dt: 765px;
$w-steps-nav-item-wrapper-dt: 135px;
$w-steps-description-wrapper-dt: 337px;

// margin
$m-repair-item-dt: 29px;
$m-projects-nav-item-dt: 60px;
$m-projects-desc-wrapper-dt: 62px;
$m-fantasies-images-wrapper-dt: 43px;
$m-steps-nav-item-dt: 180px;
$m-steps-description-wrapper-dt: 132px;

// @media
$media-dt-1: 1434px;
$media-dt-2: 1120px;
$media-dt: 1023px;
$media-tb: 767px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
